@model List<FreshAndWild2.Models.Produit>
@{ Layout = "_LayoutAdmin";

}
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2>Gestion de la boutique </h2>
            <ol>
                <li><a href="index.html">home</a></li>
                <li>Liste de produits</li>
            </ol>
        </div>
    </div>
</section>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">Producteur</th>
            <th scope="col">prix</th>
            <th scope="col">Conditionnements</th>
            <th scope="col">Stock</th>
            <th scope="col">Description</th>
            <th scope="col">Photo</th>



        </tr>
    </thead>
    <tbody>


        @foreach (var produit in Model)

        {
            <tr>

                <td>@produit.Nom</td>
                <td>@produit.Producteur</td>
                <td>@produit.Prix</td>
                <td>@produit.Conditionnement</td>
                <td>@produit.Stock</td>
                <td>@produit.Description</td>
                <td>@produit.Photo</td>






                <td>


                    @Html.ActionLink("Modifier", "UpdateProduit", "Admin", new { @id = produit.Id })
                    @Html.ActionLink("Supprimer", "DeleteProduit", "Admin", new { @id = produit.Id })



                </td>
            </tr>
        }



    </tbody>


</table>

@Html.ActionLink("Ajouter Un produit", "CreerProduit", "Admin")





<div />
<section />

